<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firstcodeandroid">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 百度地图位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".Utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 百度地图定义 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value=" AUIYccVRBK1X2iqDvMbyhS20kMlAGRmH" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Menu.MenuTest" />
        <activity android:name=".Intent.VirtualIntent">
            <intent-filter>
                <action android:name="com.example.firstcodeandroid.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Intent.StartActivity1" />
        <activity android:name=".Views.TextViewActivity" />
        <activity android:name=".Views.StartActivity2" />
        <activity android:name=".Views.LinearLayoutActivity" />
        <activity android:name=".Views.LinearLayoutActivity2" />
        <activity android:name=".Views.RelativeLayoutTest" />
        <activity android:name=".Else.QrCodeActivity" />
        <activity android:name=".Else.StartActivity3" />
        <activity android:name=".Else.QrCodeLogoActivity" />
        <activity android:name=".Else.CalculateActivity" />
        <activity android:name=".Views.RelativeLayoutActivity" />
        <activity android:name=".Views.FrameLayoutActivity" />
        <activity android:name=".MainActivity$RelativeLayoutActivity2" />
        <activity android:name=".Views.FramelayoutActivity2" />
        <activity android:name=".Views.PercentLayoutActivity" />
        <activity android:name=".Views.TitleLayoutActivity" />
        <activity android:name=".Views.TitleLayoutActivity2" />
        <activity android:name=".Views.ListView.StartActivity22" />
        <activity android:name=".Views.ListView.ListViewActivity" />
        <activity android:name=".Views.ListView.ListViewActivity2" />
        <activity android:name=".Views.ListView.RecycleViewActivity" />
        <activity android:name=".Views.ListView.RecycleViewVerticalActivity" />
        <activity android:name=".Views.ListView.RecycleViewPoolActivity" />
        <activity android:name=".Views.ListView.RecycleViewClickActivity" />
        <activity android:name=".Views.ListView.NinePatchActivity" />
        <activity android:name=".Views.padView.StartActivity4" />
        <activity android:name=".Views.padView.FragmentTest" />
        <activity android:name=".Views.padView.FragmentTest2" />
        <activity android:name=".Broadcast.StartActivity5" />
        <activity android:name=".Broadcast.BroadcastActivity" />

        <receiver
            android:name=".Broadcast.BroadCastStatic"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Broadcast.MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.firstcodeandroid.MY_BROADCAST" />
            </intent-filter>
        </receiver>

        <activity android:name=".Broadcast.BroadcastCustomStandardActivity" />

        <receiver
            android:name=".Broadcast.MyBroadcastReceiver2"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.firstcodeandroid.MY_BROADCAST2" />
            </intent-filter>
        </receiver>

        <activity android:name=".Broadcast.BroadcastBestPractise" />
        <activity android:name=".Broadcast.LoginActivity" />
        <activity android:name=".Broadcast.ForceDownActivity" />
        <activity android:name=".Data.StartActivity6" />
        <activity android:name=".Data.FileActivity" />
        <activity android:name=".Data.RememberPasswordActivity" />
        <activity android:name=".Data.SQLiteActivity" />
        <activity android:name=".Data.LitePalActivity" />
        <activity android:name=".Permission.StartActivity7" />
        <activity android:name=".Permission.PermissionActivity" />
        <activity android:name=".Permission.LoadContactsActivity" />

        <provider
            android:name=".Permission.DatabaseProvider"
            android:authorities="com.example.databasetest.provider"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.firstcodeandroid.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".Permission.ProviderTestActivity" />
        <activity android:name=".MultiMedia.StartActivity8" />
        <activity android:name=".MultiMedia.NotificationActivity" />
        <activity android:name=".MultiMedia.MediaAudioActivity" />
        <activity android:name=".Service.StartActivity9" />
        <activity android:name=".Service.ThreadTestActivity" />

        <service
            android:name=".Service.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Service.MyServiceActivity" />

        <service
            android:name=".Service.MyIntentService"
            android:exported="false" />
        <service
            android:name=".Service.DownloadService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Service.DownloadActivity" />
        <activity android:name=".Web.StartActivity10" />
        <activity android:name=".Web.WebViewActivity" />
        <activity android:name=".map.StartActivity11" />

        <!-- 百度地图定义 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity android:name=".Views.MaterialDesign.StartActivity23" />
        <activity android:name=".Advanced.TimerActivity" />

        <service
            android:name=".Advanced.AlarmService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Views.ElseListView.ListView1Activity"></activity>
    </application>

</manifest>